<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <h3>Поиск товаров</h3>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sn">
            <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
            <label for="filterTitle">Наименование товара</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sn">
            <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
            <label for="filterMinPrice">Мин. цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sn">
            <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
            <label for="filterMaxPrice">Макс. цена</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sn" style="width: 100%;" type="submit">Применить сортировку</button>
          </form>
    <h3>Список товаров</h3>

    <p></p>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Наименование товара</td>
            <td>Цена</td>
            <td>Действие</td>

        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsPage.content">
            <td >{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-danger" ng-click="addProductToCart(p.id)">Добавить в корзину</button>
            </td>

        </tr>
        </tbody>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" ng-click="loadProducts(1)" >1</a></li>
                <li class="page-item"><a class="page-link" ng-click="loadProducts(2)" >2</a></li>
            </ul>
        </nav>
    </table>
    <p></p>

    <h3>Корзина</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Наименование товара</td>
            <td>Цена за еденицу</td>
            <td>Количество</td>
            <td>Сумма</td>
            <td>Действие</td>
        </tr>
        <tbody>
        <tr ng-repeat="pc in Cart">
            <td>{{pc.id}}</td>
            <td>{{pc.title}}</td>
            <td>{{pc.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeAmountProduct(pc.id, -1)">-</button>
                {{pc.amount}}
                <button class="btn btn-primary" ng-click="changeAmountProduct(pc.id, 1)">+</button>
            </td>
            <td>{{pc.price * pc.amount}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProductFromCart(pc.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>